PROJECT_NAME=Data_Dashboard
BASE_DIR=/opt/render/project/src
DATA_DIR=/opt/render/project/src/data
DB_PATH=/opt/render/project/src/data/database/dashboard.db
RAW_CSV_DIR=/opt/render/project/src/data/raw_csv
RAW_TABLEAU_DIR=/opt/render/project/src/data/raw_tableau
RAW_TABLEAU_UNITS_DIR=/opt/render/project/src/data/raw_tableau_units
RAW_GA4_DIR=/opt/render/project/src/data/raw_ga4
PROCESSED_DIR=/opt/render/project/src/data/processed
LOGS_DIR=/opt/render/project/src/data/logs
HEADLESS=true